<body class="no-padding" style="margin: 0px; padding: 0px; text-size-adjust: 100%; height: 818px;">
<table style="border-collapse: collapse; table-layout: fixed; width: 100%; border-color: aliceblue">
	<tr>
		<td>
			<div class="layout one-col stack" style="Margin: 0 auto;width: 750px; height: 12px"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="width: 2600px; display: table-cell; text-align: center">
				<div style="display: inline-block; position: relative; width: 750px; height: 70px; background-color: #f9fafd;
                     background-position: 0px 0px;">
					<img src="http://vandevtimes-dev.us-west-2.elasticbeanstalk.com/api/logoImg" style="display: block; position: absolute; left: 0px">
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="width: 2600px; display: table-cell; text-align: center">
				<div style="display: table-cell; display: inline-block; vertical-align: middle;background-color: #4b5462; background-position: 0px 0px;
                        background-image: url(http://vandevtimes-dev.us-west-2.elasticbeanstalk.com/api/backImg); background-repeat: repeat;background-size: auto auto;
                        width: 750px; height: 300px;text-align:center;font-style: normal;font-weight: normal;color:#ffffff;font-size: 44px;
                        font-family: Avenir,sans-serif;line-height: 70px; overflow: hidden; margin:auto;">
					<div style="white-space: normal;">
						<strong>
							<pre style="font-family: inherit;">&#10;Explore the Great&#10;Software&#10;Technology</pre>
						</strong>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="width: 2600px; display: table-cell; text-align: center">
				<div style="display: table-cell; display: inline-block; vertical-align: middle;
                        width: 750px; max-height: 210px;text-align:center;font-style: normal;font-weight: normal;color: #e31212;font-size: 26px;
                        font-family: Avenir,sans-serif;line-height: 35px; overflow-x: hidden; margin:auto; background-color: #f9fafd">
					<div>
						<strong>Dear admin, Don't let new blogs wait too long! </strong>
					</div>
					<div style="font-size: 15px;">
						<a style="color: black; text-decoration: none;" href = <%= blogs[0].url %> ><strong><%= blogs[0].title %></strong></a>
					</div>
					<div style="font-size: 15px;">
						<a style="color: black; text-decoration: none;" href = <%= blogs[1].url %> ><strong><%= blogs[1].title %></strong></a>
					</div>
					<div style="font-size: 15px;">
						<a style="color: black; text-decoration: none;" href = <%= blogs[2].url %> ><strong><%= blogs[2].title %></strong></a>
					</div>
					<div style="font-size: 15px;">
						<a style="color: black; text-decoration: none;" href = <%= blogs[3].url %> ><strong><%= blogs[3].title %></strong></a>
					</div>
					<div style="font-size: 15px;">
						<a style="color: black; text-decoration: none;" href = <%= blogs[4].url %> ><strong><%= blogs[4].title %></strong></a>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="width: 2600px; display: table-cell; text-align: center">
				<div style="display: table-cell; display: inline-block; position: relative; text-align: center;
                         width: 750px; height: 50px;text-align:center;font-style: normal;font-weight: normal;font-size: 12px;
                         font-family: Avenir,sans-serif;line-height: 50px; margin:auto; background-color: #281557">
					<div style="dispaly: table-cell; display: inline-block; background-color: white; width: 100px;
                        height: 30px; position: absolute; margin-top: 12px; left: 325px; border-radius: 5px; line-height: 30px;">
						<a style="text-decoration: none; color: #e31212" href="http://vandevtimes-dev.us-west-2.elasticbeanstalk.com"><strong style="line-height: 30px">Read More</strong></a>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="width: 2600px; display: table-cell; text-align: center">
				<div style="display: table-cell; display: inline-block; vertical-align: middle;
                        width: 750px; height: 60px;text-align:left;font-style: normal;font-weight: normal;color: black;font-size: 15px;
                        font-family: Avenir,sans-serif; overflow-x: hidden; margin:auto; background-color: #f9fafd">
					<div style="position: relative;">
						<span style="display:block; position: absolute; top: 5px; left: 30px;">Contact Us:</span>
						<div style="display:block; position: absolute; top: 20px; left: 30px;">
							<a href="mailto:vantimes.info@gmail.com" target="_blank">vantimes.info@gmail.com</a>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
</body>
